<div class="widget-wrapper" #widgetContainer>
<mat-card *ngIf="type=='visualization'" [ngSwitch]="widget.getQueryResult().getStatus()" class="tile body-container widget-visualization visualization">
    <mat-card-title fxLayout="row" class="body-row">
        <span fxFlex></span>
        <h3>
            <b>{{ getWidgetTitle() }}</b>
        </h3>
        <mat-chip-list style="margin: 2px;" *ngFor="let tag of widget.getTags()" >
            <mat-chip>{{ tag }}</mat-chip>
        </mat-chip-list>
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
                <a mat-menu-item href="{{widgetURL}}" target="_blank">
                    Open
                </a>
                <a mat-menu-item href="{{widget.getQueryResult().getLink(widget.getQuery().id, widget.getQueryResult().latest_query_data_id, 'csv')}}" download="{{widget.getQueryResult().getName() + '.csv'}}" target="_self">
                    Download as CSV File
                </a>
                <a mat-menu-item href="{{widget.getQueryResult().getLink(widget.getQueryResult().id, widget.getQueryResult().latest_query_data_id, 'xlsx')}}" download="{{widget.getQueryResult().getName() + '.xlsx'}}" target="_self">
                    Download as Excel File
                </a>
                <button mat-icon-button shareButton="facebook" #fbBtn [style.color]="share.prop.facebook.color">
                    <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
                  </button>
                <button mat-icon-button shareButton="twitter" #twtBtn [style.color]="share.prop.twitter.color">
                    <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
                </button>
                <button mat-icon-button shareButton="linkedin" #inBtn [style.color]="share.prop.linkedin.color">
                    <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
                </button>
                <button mat-icon-button shareButton="whatsapp" #wtsBtn [style.color]="share.prop.whatsapp.color">
                    <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
                </button>
                <button mat-icon-button shareButton="telegram" #teleBtn [style.color]="share.prop.telegram.color">
                    <fa-icon [icon]="share.prop.telegram.icon" size="lg"></fa-icon>
                </button>
                <button mat-icon-button shareButton="pinterest" #pinBtn [style.color]="share.prop.pinterest.color">
                    <fa-icon [icon]="share.prop.pinterest.icon" size="lg"></fa-icon>
                </button>
        </mat-menu>
    </mat-card-title>
    <mat-card-content class="body-row-auto spinner-container">
        <div *ngSwitchCase="'failed'" class="body-row-auto scrollbox">
            Failed
            <div class="alert alert-danger m-5" ng-show="widget.getQueryResult().getError()">Error running query: <strong>{{widget.getQueryResult().getError()}}</strong></div>
        </div>

        <div *ngSwitchCase="'done'" class="body-row-auto scrollbox">
            <visualization-renderer [visualization]="widget.visualization" [query-result]="widget.getQueryResult()" class="t-body"></visualization-renderer>
        </div>

        <div *ngSwitchDefault>
            <div class="spinner" style="padding-left: 43%;">
                <!-- <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-5x"></i> -->
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <span>{{ widget.note }} {{ widget.getQuery().description }}</span>
        
        <span fxFlex></span>
        <mat-icon (click)="reloadWidget()" style="cursor: pointer; font-size: 14px;">loop</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="type=='textbox'" ng-hide="widget.width === 0" class="tile body-container widget-text textbox">
    <mat-card-content class="scrollbox" >
        <div class="body-container" ng-class="type">
            <div class="body-row-auto tiled t-body p-15" style="padding: 15px !important;" [innerHTML]="widget.text"></div>
        </div>
    </mat-card-content>
</mat-card>
</div>