<mat-progress-bar class="page-loader" [value]="loader.progress$|async" *ngIf="loader.progress$|async" [ngStyle]="{height: '2px'}"></mat-progress-bar>

<div class="app" [dir]="this.globals.options.dir" [ngClass]="{
  'app-dark': this.globals.options.dark,
  'boxed': this.globals.options.boxed,
  'collapsed-sidebar': this.globals.options.collapsed,
  'side-panel-opened': sidePanelOpened,
  'side-panel-closed': !sidePanelOpened }">

  <app-header (toggleSidenav)="toggleSidenav()" (messageEvent)="receiveMessage($event)" (toggleFullscreen)="toggleFullscreen()"></app-header>

  <mat-sidenav-container class="app-inner" (click)="updatePS()">

    <mat-sidenav #sidemenu class="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (openedStart)="sidePanelOpened = true"
      (closedStart)="sidePanelOpened = false" [perfectScrollbar]="config" [disabled]="mediaMatcher.matches">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <div>
      <router-outlet [className]="routeData.css"></router-outlet>
    </div>

  </mat-sidenav-container>

</div>

<!-- <app-options (messageEvent)="receiveMessage($event)" (toggleFullscreen)="toggleFullscreen()"></app-options> -->
