<div class="query-wrapper container-fluid" style="font-size: smaller;">
	<div class="action-bar">
		<div class="card bg-transparent no-shadow">
			<div class="card-body">
			<button class="btn btn-social btn-fill btn-youtube shadowed">
				Back
			</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="header">Visualization Editor</div>
				<div class="content">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Visualization Type</label>
							<select class="form-control input-sm">
								<option *ngFor="let vType of visualizationTypes" value="vType.id">{{ vType.name }}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Visualization Name</label>
							<input type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Visualization Name">
						</div>

						<ul role="tablist" class="nav nav-tabs">
							<li role="presentation" class="active">
								<a href="#general-tab" data-toggle="tab">General</a>
							</li>
							<li>
								<a href="#xaxis-tab" data-toggle="tab">X-Axis</a>
							</li>
							<li>
								<a href="#yaxis-tab" data-toggle="tab">Y-Axis</a>
							</li>
							<li>
								<a href="#colors-tab" data-toggle="tab">Colors</a>
							</li>
						</ul>
	
						<div class="tab-content">
							<div id="general-tab" class="tab-pane active">
								<div class="form-group">
									<label for="exampleInputEmail1">Chart Type</label>
									<select class="form-control input-sm">
										<option *ngFor="let cType of chartTypes" value="cType.id">{{ cType.name }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">X Column</label>
									<select class="form-control input-sm">
										<option *ngFor="let col of columns" value="col">{{ col }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Y Columns</label>
									<select class="form-control input-sm" multiple>
										<option *ngFor="let col of columns" value="col">{{ col }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Group By </label>
									<select class="form-control input-sm">
										<option *ngFor="let col of columns" value="col">{{ col }}</option>
									</select>
								</div>
								<div class="form-group input-sm">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Show Legends
										</label>
									</div>
								</div>
							</div>
							<div id="xaxis-tab" class="tab-pane ">
								<div class="form-group">
									<label for="exampleInputEmail1">Scale</label>
									<select class="form-control input-sm">
										<option *ngFor="let sType of scaleTypes" value="sType.id">{{ sType.name }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Name</label>
									<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Sort Value
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Reverse Order
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Show Labels
										</label>
									</div>
								</div>
							</div>
							<div id="yaxis-tab" class="tab-pane">
								<div class="form-group">
									<label for="exampleInputEmail1">Scale</label>
									<select class="form-control input-sm">
										<option *ngFor="let sType of scaleTypes" value="sType.id">{{ sType.name }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Name</label>
									<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Min Value</label>
									<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Max Value</label>
									<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Sort Value
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Reverse Order
										</label>
									</div>
								</div>
							</div>
							<div id="colors-tab" class="tab-pane">
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="header">Visualization</div>
				<div class="content">
						<plotly-plot [data]="data" [config]="plotlyOptions" [layout]="layout" #plotlyChartContainer></plotly-plot>
				</div>
			</div>

		</div>
	</div>
</div>