<div class="query-wrapper container-fluid">
	<div class="action-bar">
		<div class="card bg-transparent no-shadow">
			<div class="card-body">
			<button class="btn btn-social btn-fill btn-youtube shadowed">
				Back
			</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="header">Visualization Editor</div>
				<div class="content">
					<form>
						
					</form>
				</div>
			</div>

		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="header">Visualization</div>
				<div class="content">

				</div>
			</div>

		</div>
	</div>
</div>