:host /deep/ counter-renderer {
    display: block;
    text-align: center;
    padding: 15px 10px;
    overflow: hidden;
  }
  
  :host /deep/ plotly-plot > div {
    position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      overflow: hidden;
  }