<section id="main-top">
	<div class="container-fluid">
		<div class="col-md-offset-3 col-md-6 text-center">
			<h1>{{ 'main_title' | translate }}</h1>
			<p>{{"main_sub_title" | translate}}</p>
		</div>
	</div>
</section>
<section id="counter">
	<div class="counter">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="employees">
						<p class="counter-count">879</p>
						<p class="employee-p">{{ 'data_point' | translate }}</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="customer">
						<p class="counter-count">954</p>
						<p class="customer-p">{{ 'DASHBOARDS' | translate }}</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="design">
						<p class="counter-count">1050</p>
						<p class="design-p">{{ 'WIDGET' | translate }}</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="order">
						<p class="counter-count">652</p>
						<p class="order-p">{{ 'data_set' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="main-content">
	<div class="container">
		<div class="row">
			<h3>{{ 'recent_data_set' | translate }}</h3>
			<hr>
			<div class="col-md-3">
				<div class="ibox">
					<div class="ibox-content dataset-box">
						<div class="dataset-imitation">
							<img src="../../assets/img/features/diagram.png" class="img img-responsive" />
						</div>
						<div class="dataset-desc">
							<span class="dataset-price">

							</span>
							<small class="text-muted">Category</small>
							<a href="#" class="dataset-name"> dataset</a>

							<div class="small m-t-xs">
								Many desktop publishing packages and web page editors now.
							</div>
							<div class="m-t text-righ">
								<a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
										class="fa fa-long-arrow-right"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ibox">
					<div class="ibox-content dataset-box">

						<div class="dataset-imitation">
							<img src="../../assets/img/features/diagram.png" class="img img-responsive" />
						</div>
						<div class="dataset-desc">
							<span class="dataset-price">

							</span>
							<small class="text-muted">Category</small>
							<a href="#" class="dataset-name"> dataset</a>



							<div class="small m-t-xs">
								Many desktop publishing packages and web page editors now.
							</div>
							<div class="m-t text-righ">

								<a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
										class="fa fa-long-arrow-right"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ibox">
					<div class="ibox-content dataset-box active">

						<div class="dataset-imitation">
							<img src="../../assets/img/features/diagram.png" class="img img-responsive" />
						</div>
						<div class="dataset-desc">
							<span class="dataset-price">

							</span>
							<small class="text-muted">Category</small>
							<a href="#" class="dataset-name"> dataset</a>



							<div class="small m-t-xs">
								Many desktop publishing packages and web page editors now.
							</div>
							<div class="m-t text-righ">

								<a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
										class="fa fa-long-arrow-right"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ibox">
					<div class="ibox-content dataset-box">

						<div class="dataset-imitation">
							<img src="../../assets/img/features/diagram.png" class="img img-responsive" />
						</div>
						<div class="dataset-desc">
							<span class="dataset-price">

							</span>
							<small class="text-muted">Category</small>
							<a href="#" class="dataset-name"> dataset</a>
							<div class="small m-t-xs">
								Many desktop publishing packages and web page editors now.
							</div>
							<div class="m-t text-righ">
								<a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
										class="fa fa-long-arrow-right"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-light text-center breadcrumb parallax">
    <div class="container-fluid">
      <div style="padding:100px;">
          <h1 class="text-center" style="font-family: 'landing-font'">{{ 'what_make_us_unique' | translate }}!</h1>
        </div>
    </div>
 </section>
<section id="feature-section">
	<div class="container">
		<div class="row">
			<!--feature-1-->
			<div class="col-lg-4">
				<div class="our-feature-main">

					<div class="feature-front">
						<img src="../../assets/img/features/diagram.png" class="img-fluid" />
						<h3>{{ 'first_feature_title' | translate }}</h3>
					</div>

					<div class="feature-back">
						<span>
							{{ 'first_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-1-->

			<!--feature-2-->
			<div class="col-lg-4">
				<div class="our-feature-main">

					<div class="feature-front">
						<img src="../../assets/img/features/report.png" class="img-fluid" />
						<h3>{{ 'second_feature_title' | translate }}</h3>
					</div>

					<div class="feature-back">
						<span>
							{{ 'second_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-2-->

			<!--feature-3-->
			<div class="col-lg-4">
				<div class="our-feature-main">

					<div class="feature-front">
						<img src="../../assets/img/features/seo.png" class="img-fluid" />
						<h3>{{ 'third_feature_title' | translate }}</h3>
					</div>

					<div class="feature-back">
						<span>
							{{ 'third_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-3-->

			<!--feature-4-->
			<div class="col-lg-4">
				<div class="our-feature-main">

					<div class="feature-front">
						<img src="../../assets/img/features/diagram.png" class="img-fluid" />
						<h3>{{ 'fourth_feature_title' | translate }}</h3>
					
					</div>

					<div class="feature-back">
						<span>
							{{ 'fourth_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-4-->

			<!--feature-5-->
			<div class="col-lg-4">
				<div class="our-feature-main">

					<div class="feature-front">
						<img src="../../assets/img/features/report.png" class="img-fluid" />
						<h3>{{ 'fifth_feature_title' | translate }}</h3>
					</div>

					<div class="feature-back">
						<span>
							{{ 'fifth_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-5-->

			<!--feature-6-->
			<div class="col-lg-4">
				<div class="our-feature-main">
					<div class="feature-front">
						<img src="../../assets/img/features/seo.png" class="img-fluid" />
						<h3>{{ 'sixth_feature_title' | translate }}</h3>
					</div>

					<div class="feature-back">
						<span>
							{{ 'sixth_feature_description' | translate }}
						</span>
					</div>

				</div>
			</div>
			<!--feature-6-->
		</div>
	</div>
</section>
<!-- FOOTER -->
<footer class="footer footer-transparent">
	<div class="container text-center">
		<p class="copyright ">
			&copy; {{currentDate | date: 'yyyy'}} <a href="http://nsia.gov.af">NSIA</a>, made for data collection,
			process and visulaizaiton
		</p>
	</div>
</footer>
<!-- End FOOTER -->