<nav #pagesnavbar class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">stat.gov.af</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/']">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Home</p>
                    </a>
                </li>
                <!-- <li>
                    <a *ngIf="!authService.isLoggedIn()" routerLinkActive="active" [routerLink]="['/signup']">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p>Sign Up</p>
                    </a>
                </li> -->
                <!-- <li>
                    <a routerLinkActive="active" [routerLink]="['/pages/register']">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <p>Register</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
