<div class="main-content">
  <div class="container-fluid">


      <!-- Bootstrap Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
          data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="editModalLabel">Edit Role Details</h4>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <role-edit-dialog *ngIf="showEditModal" (toggleModal)="toggleModal($event)"
                              [data]="roleData"></role-edit-dialog>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Show role Modal -->
      <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="showModalLabel">View Role Details</h4>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <role-view-dialog *ngIf="showViewModal" (toggleModal)="toggleModal($event)"
                              [data]="roleData"></role-view-dialog>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-warning btn-sm btn-fill"
                          data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- Create New Role Modal -->
      <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
          data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="createModalLabel">Create New Role</h4>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <role-create-dialog *ngIf="showCreateModal" (toggleModal)="toggleModal($event)"
                              [data]="allPermissionsData"></role-create-dialog>
                      </div>
                  </div>
                  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="title-wrapper">
                  <h3 class="title">{{ 'ROLE_MANAGEMENT' | translate }}</h3>
                  <div class="title-actions">
                      <button class="btn btn-success" type="button" (click)="addNew()" [disabled]="loading"
                          *ngIf="globals.principal.hasAuthority(['ADMIN','ROLE_CREATE'])">
                          <span class="btn-label" *ngIf="!loading">
                              <i class="fa fa-plus"></i>
                          </span>
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </button>
                      <button class="btn btn-info" type="button" (click)="refresh()" [disabled]="loading">
                          <span class="btn-label" *ngIf="!loading">
                              <i class="fa fa-refresh"></i>
                          </span>
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </button>
                  </div>
              </div>

              <br>
              <div class="card">
                  <div class="content">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables" *ngIf="dTableFlag">
                          <table id="datatables" class="table table-striped table-no-bordered table-hover"
                              cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                      <th *ngFor="let hd of headerRow | slice:0:headerRow.length-1">{{ hd }}</th>
                                      <th class="disabled-sorting text-right">{{ headerRow[headerRow.length-1] }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of result">
                                      <td>{{row.id}}</td>
                                      <td>{{row.name}}</td>
                                      <td>{{row.description}}</td>
                                      <td>{{row.active}}</td>
                                      <td class="text-right">
                                          <a class="btn btn-simple btn-warning btn-icon edit"
                                              (click)="viewRecord(row.id)"
                                              *ngIf="globals.principal.hasAuthority(['ADMIN','ROLE_VIEW'])">
                                              <i class="fa fa-eye"></i>
                                          </a>
                                          <a class="btn btn-simple btn-info btn-icon remove"
                                              (click)="editRecord(row.id)"
                                              *ngIf="globals.principal.hasAuthority(['ADMIN','ROLE_EDIT'])">
                                              <i class="fa fa-edit"></i>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>
