<div class="wrapper wrapper-full-page">
		<div class="full-page login-page" data-color="azure" data-image="../../../assets/img/full-screen-image-1.jpg">
	
		<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
							<form [formGroup]="myForm" (ngSubmit)="submit()">
	
							<!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
								<div class="card card-hidden">
									<div class="header text-center">Login</div>
									<div class="content">
										<div class="form-group">
											<label>Username</label>
											<input type="text" placeholder="Username" class="form-control" formControlName="username" required>
										</div>
										<div class="form-group">
											<label>Password</label>
											<input type="password" placeholder="Password" class="form-control" formControlName="password" required>
										</div>
										
									</div>
									<div class="footer text-center">
										<button type="submit" [disabled]="myForm.invalid" class="btn btn-fill btn-danger btn-wd">
											Login
											<i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
										</button>
									</div>
									<div class="account-exist text-center">
										<span>don't have account?  <a href="" [routerLink]="['/signup']">register</a></span>
									</div>
								</div>
	
							</form>
	
						</div>
					</div>
				</div>
			</div>
	
			<footer class="footer footer-transparent">
				<div class="container text-center">
					<p class="copyright ">
						&copy; {{currentDate | date: 'yyyy'}} <a href="http://nsia.gov.af">NSIA</a>, made for data collection, process and visulaizaiton
					</p>
				</div>
			</footer>
	
		</div>
	
	</div>
	