<div class="row">
  <div class="col-md-12">
    <form method="#" action="#">

      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="User Name" name="name" class="form-control" disabled [(ngModel)]="data.name">
      </div>

      <div class="form-group">
        <label>host</label>
        <input type="text" placeholder="Host" name="host" class="form-control" disabled [(ngModel)]="data.host">
      </div>
      <div class="form-group">
        <label>active</label>
        <input type="boolean" placeholder="Status" name="active" class="form-control" disabled
          [(ngModel)]="data.active">
      </div>

      <div class="form-group">
        <label>port</label>
        <input type="text" placeholder="Port Number" name="port" class="form-control" disabled [(ngModel)]="data.port">
      </div>



      <div class="form-group">
        <label>User Name</label>
        <input type="text" placeholder="User Name" name="username" class="form-control" disabled
          [(ngModel)]="data.userName">
      </div>
      <div class="form-group">
        <label>Database Password</label>
        <input type="text" placeholder="Database Password" name="db_pwd" class="form-control" disabled
          [(ngModel)]="data.db_pswrd">
      </div>
      <div class="form-group">
        <label>SSL</label>
        <input type="text" placeholder="Enter SSL" name="ssl" class="form-control" disabled [(ngModel)]="data.ssl">
      </div>
      <div class="form-group">
        <label>Database Name</label>
        <input type="text" placeholder="Database Name" name="DB_name" class="form-control" disabled
          [(ngModel)]="data.db_Name">
      </div>
    </form>
  </div>
</div>